# The Docker image that will be used to build your app
image: node:24
create-pages:
  pages:
    # The folder that contains the files to be exposed at the Page URL
    publish: pages
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  # Functions that should be executed before the build script is run
  before_script:
    - npm ci
  script:
    - npx ng build --output-path pages --base-href /
    - mv $CI_PROJECT_DIR/pages/browser/* pages/
  cache:
    paths:
      - node_modules/
  artifacts:
    paths:
      - pages
