@import "../../../assets/styles/variables.scss";

.footer {
  height: calc($foot-height - 5px);
  line-height: calc($foot-height - 5px);
  color: $dark-text-color;
  background-color: $dark-color !important;
}