@use "../../../variables.scss";

.footer {
  height: variables.$foot-height - 5px;
  line-height: variables.$foot-height - 5px;
  color: variables.$dark-text-color;
  background-color: variables.$dark-color !important;
}