<div class="center-vertical container">
  <h2>Portfolio: {{ element.category }}</h2>
  <hr>
  <h4 class="d-flex align-items-center justify-content-between">
    <a class="float-left ml-2" routerLink="/portfolio/{{previousID}}">
      <fa name="angle-left" size="lg" *ngIf="previousID != id"></fa>
    </a>
    <span class="ml-4 mr-4">{{ element.title }}</span>
    <a class="float-right mr-2" routerLink="/portfolio/{{nextID}}">
        <fa name="angle-right" size="lg" *ngIf="nextID != id"></fa>
    </a>
  </h4>
  <hr>
  <div>
    
    <div>
      <p>
        <span *ngFor="let badge of element.pills; let i = index" class="badge badge-dark mr-2">{{badge}}</span>
      </p>
      <div markdown [data]="element.text"></div>
      <div class="container-fluid">
        <div class="row justify-content-center mb-4">
          <div class="col-md-6 col-sm-12"  *ngFor="let image of element.images; let i = index">
            <img src="assets/{{image}}">
          </div>
          <div class="col-md-6 col-sm-12"  *ngIf="element.itch">
            <a href="{{element.itch}}" class="btn btn-primary" role="button" target="_blank">Play it on itch.io</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <a class="btn btn-primary" routerLink="/portfolio" role="button">back to the list</a>
</div>