@import "../../../../../variables.scss";

iframe {
  max-width: 100%;
  max-height: 100%;
}

.btn-primary {
  background-color: $accent-color !important;
  border-color: $accent-color !important;
}

.badge {
  /* font-weight: 700; */
  /* background-color: #343a40 !important; */
  /* background-color: #f19317 !important; */
}

.full-container {
  min-height: calc(100vh - 80px - 80px);

  @media (min-width: 768px) {
    min-width: 720px;
  }

  @media (min-width: 992px) {
    min-width: 960px;
  }

  @media (min-width: 1200px) {
    min-width: 1140px;
  }
}