<div class="center-vertical">
  <h2>Portfolio: {{ element.category }}</h2>
  <hr>
  <h4>
    <a class="float-left" *ngIf="previousID != id" routerLink="/portfolio/{{previousID}}">previous</a>
    {{ element.title }}
    <a class="float-right" *ngIf="nextID != id" routerLink="/portfolio/{{nextID}}">next</a>
  </h4>
  <hr>
  <div>
    
    <div>
      <p>
        <span  *ngFor="let badge of element.pills; let i = index" class="badge badge-secondary badge-pill mr-2">{{badge}}</span>
      </p>
      <div markdown [data]="element.text"></div>
      <div class="row">
        <div class="col-md-6 col-sm-12"  *ngFor="let image of element.images; let i = index">
          <img src="assets/{{image}}">
        </div>
        <div class="col-md-6 col-sm-12"  *ngIf="element.iframe">
          <!-- <iframe src="{{element.iframe}}" width="560" height="175" frameborder="0"></iframe> -->
        </div>
      </div>
    </div>
    
  </div>
  <a routerLink="/portfolio">back to the list</a>
</div>