<div class="center-vertical">
  <h2>Contacs</h2>
  <hr>
  <div class="text-center">
      <a href="mailto:luca.rickler@gmail.com" target="_blank">
          <img class="contact-img" src="assets/email.png">
      </a>
      <a href="https://www.reddit.com/user/MoonlitChameleon/" target="_blank">
          <img class="contact-img" src="assets/418PuxYS63L.png">
      </a>
      <a href="https://moonlitchameleon.itch.io/" target="_blank">
          <img class="contact-img" src="assets/qCF6gLIY_400x400.jpg">
      </a>
      <a href="https://github.com/LucaRickler" target="_blank">
          <img class="contact-img" src="assets/github-logo.png">
      </a>
      <a href="http://steamcommunity.com/id/MoonlitChameleon/" target="_blank">
          <img class="contact-img" src="assets/128px-Steam_icon_logo.svg.png">
      </a>
      <!-- <div class="github-card" data-github="LucaRickler" data-width="400" data-height="" data-theme="default"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script> -->
  </div>
</div>
