<div class="center-vertical">
  <h2>Contacts</h2>
  <hr>
  <div class="text-center">
      <a href="mailto:luca.rickler@gmail.com" target="_blank">
          <img class="contact-img" src="email.png">
      </a>
      <a href="https://www.reddit.com/user/MoonlitChameleon/" target="_blank">
          <img class="contact-img" src="418PuxYS63L.png">
      </a>
      <a href="https://moonlitchameleon.itch.io/" target="_blank">
          <img class="contact-img" src="qCF6gLIY_400x400.jpg">
      </a>
      <a href="https://github.com/LucaRickler" target="_blank">
          <img class="contact-img" src="github-logo.png">
      </a>
      <a href="http://steamcommunity.com/id/MoonlitChameleon/" target="_blank">
          <img class="contact-img" src="128px-Steam_icon_logo.svg.png">
      </a>
  </div>
</div>
