<main class="">
  <angular-navbar></angular-navbar>
  <h1>Luca Rickler's Developer Portfolio</h1>
  <h2>Welcome, wanderer!</h2>
  <hr>
  <p>
      Welcome to my little piece of cyberspace! I'm a programmer and game developer from Turin, Italy.
  </p>
  <p>
      Lately, I've worked at <a href="https://napsygames.com" target="_blank">Napsy Games</a>,
      a startup I founded, developing educational video games for children.
      <!-- I'm currently looking for a job. -->
  </p>
  <p>
      You may want to take a look at my <a href="portfolio.html">portfolio</a>, or
      read my <a href="resume.html">r&eacute;sum&eacute;</a>. You can find many ways to
      contact me <a href="contacts.html">here</a>.
  </p>
</main>