<div class="container">
  <h2 class="text-center">Welcome, wanderer!</h2>
  <hr>
  <div class="row text-start">
    <div class="col-md-2 col-lg-3"></div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <p>
        Welcome to my little piece of cyberspace! I'm a software and game developer from Turin, Italy.
      </p>
      <p>
        I'm currently working as full-stack web developer remotely.
        Years ago, I've worked at <a href="https://napsygames.com" target="_blank">Napsy Games</a>,
        a startup I founded, developing educational video games for children.
      </p>
      <p>
        I'm currently looking for a job.
      </p>
      <p>
        You may want to take a look at my <a routerLink="/portfolio">portfolio</a> and you can find many ways to
        contact me <a routerLink="/contacts">here</a>.
      </p>
    </div>
    <div class="col-md-2 col-lg-3"></div>
  </div>
</div>