/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

body {
  background-color: lightyellow;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 500;
  font-size:6em;
}

.center-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}