/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

body {
  background-color: lightgoldenrodyellow;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 500;
}